body {
  font-family: Helvetica, sans-serif;
}

main {
  margin: 40px;
}

nav {
  margin: 25px;
  background-color: #F77158;
  padding: 1px;
}

nav a {
  color: white;
  font-size: 16px;
  text-decoration: none;
}

nav li {
  list-style-type: none;
  padding: 2px;
}

nav ul li:hover {
  text-decoration: underline;
}

li {
  padding-top: 5px;
}

h1 {
  color: #294A80;
}

img {
  max-width: 80%;
}

.intro {
  display: inline-block;
  vertical-align: top;
  width: 60%;
  margin-right: 10px;
}

.cover {
  max-width: 100%;
  margin: 0px;

}

aside {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  border: solid;
  border-width: 2px;
  border-color: #31BCC3;
  padding: 20px;
  margin-top: 20px;
}

a {
  color: #294A80;
}

a:visited {
  color: #2FC4C8;
}

nav a:visited {
  color: white;
}

fieldset {
  margin: 35px;
  width: 90%;
  background: url(http://www.oraclescm.com/images/colorful.jpg);
  color: white;
  border-color: #31BCC3;
}

.comparison {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  margin: 10px;
}

.list-header {
  font-weight: bold;
  text-decoration: underline;
  list-style-type: none;
}

.screenshot {
  border-style: solid;
  border-width: 1px;
  max-width: 300px;
}

figcaption {
  font-size: 13px;
}

footer {
  text-align: center;
  font-size: 13px;
  font-family: "Courier New", Courier, monospace;
}

@media screen and (max-width: 500px) {
  body {
    font-size: smaller;
  }
}